.main-header{
    background-color: darkcyan;
}

.main-footer{
    background-color: darkcyan;
}

.main-nav{
    background-color: lavenderblush;
}

.main-content{
   background-color: blanchedalmond;
}

